@model IEnumerable<MvcConciertos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

@using (Html.BeginForm("Index", "Evento", FormMethod.Get))
{
    <label for="categoria">Categoría:</label>
    <select name="idcategoria" id="categoria">
        <option value="">All</option>
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.IdCategoria">@categoria.Nombre</option>
        }
    </select>
    <button type="submit">Buscar</button>
}

<a class="nav-link text-dark" asp-area="" asp-controller="Evento" asp-action="Create">Crear nuevo evento</a>

<table class="table">
    <thead>
        <tr>
            <th>IdEevento</th>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Imagen</th>
            <th>IdCategoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEevento</td>
                <td>@item.Nombre</td>
                <td>@item.Artista</td>
                <td>
                    <img src="@item.Imagen" width="150" />
                </td>
                <td>@item.IdCategoria</td>
            </tr>
        }
    </tbody>
</table>
